@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;

}

*, *::before, *::after {
  box-sizing: border-box;
}

.home .dark {
  background-color: blue;
}

.login-box {
  border-radius: 1rem;
  width: 25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .login-box {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .login-box {
    width: 100%;
  }
}

.login-box .named-input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.login-box .named-input-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  position: relative;
}

.login-box .named-input-wrapper .named-input-label {
  display: flex;
  align-items: center;
}

.login-box .named-input-wrapper .named-input-label .named-input-icon {
  height: 100%;
  margin: 0;
}

.login-box .named-input-wrapper .named-input-label .named-input {
  flex: 1;
}