@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
    font-family: Satoshi, Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;

    --white: #ffffff;
    --black: #000000;

    --soft-white: #f8f9fa;
    --dark-gray: #0c0c0c;

    --barbie-pink: #e56db1;
    --lavender-pink: #ffadd2;
    --barbie-purple: #cd68c8;
    --barbie-blue: #0aaef3;
    --magenta-haze: #c0c0c0;
    --bus-yellow: #f2d202;

    --error-red: #ED1D24;
    --error-red-transluscent: rgba(237, 29, 36, 0.4);

}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;

}

html, body {
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
}

button {
    font-family: inherit;
}

h1 {
    font-weight: 100;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    font: inherit;
    outline: none;
    border: none;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: inherit;
}

button {
    color: inherit;
    border: none;
    background-color: inherit;
}