.rte {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 50rem;
    margin: 0 auto;
}

.editor {
    border: 1px solid pink;
    height: 40rem;
    max-width: 50rem;
    border-radius: 1rem;
    padding: 1rem;
}

.placeholder {
    padding-top: 1rem;
}

.editor:focus {
    outline: 2px solid pink;
    border: none;
}