.login {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
}

.login-heading {
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.login-barbie {
    background-color: var(--barbie-blue);
    color: var(--soft-white);
    font-weight: 100;
}

.input-label {
    position: relative;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

.input-icon {
    position: absolute;
    top: 52%;
    left: 0.5rem;
    z-index: 10000000;
}

.input {
    padding-left: 3rem;
    font-size: 1.15rem;
    color: inherit;
    width: 100%;
    height: 2.75rem;
    border-radius: 0.5rem;
    font-weight: 500;
}

.input-barbie {
    color: var(--dark-gray);

}

.input::placeholder {
    color: var(--magenta-haze);
}

.login-form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
    gap: 1rem;
}

.login-button {
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    height: 3rem;
    width: 8rem;
}

.login-button-barbie {
    margin-top: 1rem;
    border: 2px solid var(--soft-white);
    color: var(--barbie-blue);
    background-color: var(--soft-white);
    border-radius: 0.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.login-error {
    width: 80%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--error-red-transluscent);
    border: 2px solid var(--error-red);
    color: var(--soft-white);
    text-align: center;
}

.error {
    border: 2px solid red;
    background-color: var(--error-red-transluscent);
}