.navbar {
    --navbar-black: rgba(27, 28, 27, 0.3);

    height: 5rem;
    display: grid;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;

    /*background-color: var(--navbar-black);*/
    backdrop-filter: blur(8px);

    position: fixed;
    z-index: 1000000;

    width: 100%;
}

.navbar-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 100;
}

.navbar-header-item {
    cursor: pointer;
}


.navbar-dark {

}

.active {
    font-weight: bold;
}